html, body {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: space-around;
}

.svgView {
    display: inline-block;
    width: 55%;
    padding: 10% 5%;
    background-color: #b2d8ff;
    border-radius: 10px;
    box-sizing: border-box;
}

.svg {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.props {
    display: inline-block;
    width: 20%;
    margin: 0;
    background-color: white;
    // height: 500px;
}